* {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* 横幅样式 */

.banner {
    background-image: url(../../img/home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 400px;
    font-size: 50px;
    color: aqua;
    text-align: center;
}


/* 导航栏样式 */

body {
    background-color: gray;
}

nav {
    width: 100%;
    background-color: black;
    padding: 1% 0;
    font-size: 20px;
}

.nav-options {
    padding: 0 2%;
    color: white;
}

.nav-options:hover {
    color: aquamarine;
}

.nav-padding {
    padding-left: 60%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 140px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-options {
    margin-top: 10px;
    color: aqua;
}

.current-options {
    color: aqua;
}

.nav-icons {
    width: 10%
}


/* 页码样式 */

.pages {
    text-align: center;
}

.page {
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
    font-size: 20px;
    color: aqua;
}


/* 页脚样式 */

footer {
    text-align: center;
    width: 100%;
    color: white;
    bottom: 0;
    clear: both;
}