.content-title {
    font-size: 50px;
    text-align: center;
}

.photo-entry {
    height: 350px;
}

.image {
    float: left;
    height: 100%;
    margin-left: 3%;
    padding-right: 1%;
}

.title {
    font-size: 30px;
    margin-right: 5%;
}

.description {
    font-size: 20px;
    margin-right: 5%;
}

.modify {
    margin-top: 3%;
    height: 50px;
    width: 100px;
}

.delete {
    margin-top: 3%;
    height: 50px;
    width: 100px;
}