.search-box {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

.search-title {
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    width: 25%;
    text-align: center;
}

.search-title #search_title {
    width: 80%;
}

.search-button {
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
    width: 10%;
    text-align: center;
}

button {
    width: 80%;
    height: 2em;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.search-description {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 25%;
    margin-right: 10%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
}

.search-description #search_description {
    width: 80%;
}

.search-result {
    padding: 0;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
}

.search-entry {
    border-bottom: 2px solid black;
}

.search-result :nth-child(4) {
    border: 0;
}

.search-result a {
    width: 20%;
    padding: 1%;
    float: left;
}

.search-result img {
    width: 100%;
}

.search-result .title {
    padding-top: 1%;
    padding-bottom: 1%;
}

.search-result .description {
    margin-right: 2%;
}

.search-result .clear {
    clear: both;
}

.title {
    font-size: 30px;
}

.description {
    font-size: 20px;
}