.search-box {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    column-count: 3;
    column-gap: 0;
}

.search-title {
    text-align: center;
}

.search-description {
    text-align: center;
}

.search-button button {
    margin-left: 20%;
    height: 2em;
    font-size: 20px;
}

.search-result {
    padding-left: 20%;
    width: 80%;
}

.title {
    font-size: 30px;
}

.description {
    font-size: 20px;
}